<div class="columns">
  <div class="column is-11">
    <h1 class="title">Artists</h1>
  </div>
</div>
<div class="columns">
  <%= form_tag(artist_search_path, method: "post") do %>
    <%= text_field_tag :search,nil, class: "input" %> <br />
    <%= submit_tag "Search", class: "button is-primary" %>
  <% end %>
</div>
<div class="columns">
  <div class="column is-2">
    <%= link_to "Add Artist", new_artist_path, class: "button is-primary" %>
  </div>
  <div class="column is-4">
    <%= form_tag(artist_csv_path, method: "post") do %>
      <div class="select">
        <select name="sort">
          <option>Sort By..</option>
          <option value="artist">Artist Name</option>
          <option value="records">Number of Records</option>
          <option value="min">Earliest Record Year</option>
          <option value="max">Latest Record Year</option>
        </select>
      </div>
      <%= submit_tag "Export to CSV", class: "button is-primary" %>
    <% end %>
  </div>
</div>
<div class="columns">
  <div class="column is-11">
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Albums</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @artists.each do |artist| %>
          <tr>
            <td><%= artist.name %></td>
            <td>
              <% artist.albums.each do |album| %>
                <p><%= link_to album.title, album_path(album.id) %></p>
              <% end %>
            </td>
            <td>
              <%= link_to 'View by Albums', artist_albums_path(artist.id) %><br />
              <%= link_to 'Add Album', new_artist_album_path(artist.id) %><br />
              <%= link_to 'Edit Artist', edit_artist_path(artist.id) %><br />
              <%= link_to 'Delete', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
