<div class="columns">
  <% if @album.image_url.present? %>
    <div class="column is-1">
      <%= image_tag(@album.image_url) %>
    </div>
  <% end %>
  <div class="column is-10">
    <h1 class="title"><%= @album.title %></h1>
    <h2 class="subtitle"><%= link_to @album.artist_name, artist_albums_path(@album.artist.id) %></h2>
  </div>
</div>
<div class="columns">
  <div class="column is-2">
    <p>Release Year: <%= @album.year %></p>
  </div>
  <div class="column is-2">
    <p>Condition: <%= @album.condition %></p>
  </div>
</div>
<div class="columns">
  <div class="column is-11">
    <h2 class="subtitle">Tracks</h2>
    <% if @album.tracks.empty? %>
      <p>Tracks not found for this album</p>
    <% else %>
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <% @album.tracks.each do |track| %>
            <tr>
              <td><%= track.number %></td>
              <td><%= track.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
